<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8" />
	<title>Your Page Title Here :)</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
	
	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="media/styles/reset.css">
	<link rel="stylesheet" href="media/styles/text.css">
	<link rel="stylesheet" href="media/styles/ingrid.css">
	<link rel="stylesheet" href="media/styles/style.css">
	
	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="media/styles/images/favicon.ico">
	<link rel="apple-touch-icon" href="media/styles/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="media/styles/images/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="media/styles/images/apple-touch-icon-114x114.png" />
	
</head>
<body>





	<!-- Primary Page Layout
	================================================== -->
	
	<!-- Delete everything in this .container and get started on your own site! -->

	<div class="container">
      Hello World
	</div><!-- container -->

		
	<!-- Templates	
    ================================================== -->
	<script type="text/html" class="app-template">
      <div class="header">
        <img src="media/images/techstars.png" alt="Techstars" width="139" height="100" />
        <h1>Boulder 2012</h1>
      </div>
      <div class="slider"></div>
      <div class="details"></div>
    </script>
	<script type="text/html" class="person-template">
      <img class="avatar" src="<%= img %>" alt="<%= name %>'s image" />
    </script>
	<script type="text/html" class="person-detail-template">
      <img class="avatar" src="<%= img %>" alt="<%= name %>'s image" />
      <div class="name"><%= name %></div>
      <div class="bio"><%= bio %></div>
      <ul class="skills">
        <% _.each(skills, function(skill) { %>
          <li><%= skill %></li>
        <% }); %>
      </ul>
    </script>
	<script type="text/html" class="slider-template">
      <div class="slider-inner"></div>
    </script>
		
	<!-- JS
	================================================== -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
	<script>window.jQuery || document.write("<script src='media/scripts/lib/jquery.min.js'>\x3C/script>")</script>
	<script src="media/scripts/lib/underscore.js"></script>
	<script src="media/scripts/lib/backbone.js"></script>
	<script src="media/scripts/app.js"></script>
	
<!-- End Document
================================================== -->
</body>
</html>
