<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8" />
	<title>Hackstars and Associates</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
	
	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="media/styles/reset.css">
	<link rel="stylesheet" href="media/styles/text.css">
	<link rel="stylesheet" href="media/styles/ingrid.css">
	<link rel="stylesheet" href="media/styles/style.css">
	
	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="media/styles/images/favicon.ico">
	
</head>
<body>





	<!-- Primary Page Layout
	================================================== -->
	
	<!-- Delete everything in this .container and get started on your own site! -->

	<div class="container">
	</div><!-- container -->

		
	<!-- Templates	
    ================================================== -->
	<script type="text/html" class="app-template">
      <div class="header">
        <img src="media/images/techstars.png" alt="Techstars" width="139" height="100" />
        <h1>Boulder 2012</h1>
        <span class="subtext">Hackstars and Associates</span>
        <a class="request" href="https://sites.google.com/a/techstars.com/founders2/boulder-2012/boulder-hackstars">Submit a work request</a>
      </div>
      <div class="slider"></div>
      <div class="details"></div>
    </script>
    
	<script type="text/html" class="person-template">
      <img class="avatar" src="<%= img %>" alt="<%= name %>'s image" />
      <div class="info">
        <div class="position"><%= position %></div>
        <div class="name"><%= name %></div>
        <div class="contact email"><a href="mailto:<%= email %>"><%= email %></a></div>
        <div class="contact twitter"><a href="<%= twitter %>">@<%= twitter.match(/[^\/]*$/)[0] %></a></div>
        <div class="contact phone"><%= phone %></div>
      </div>
      <% if (skills.length) { %>
      <div class="skills">
        <ul>
          <% _.each(skills, function(skill) { %>
            <li><%= skill %></li>
          <% }); %>
        </ul>
      </div>
      <% } %>
    </script>
    
	<script type="text/html" class="person-detail-template">
      <img class="avatar" src="<%= imglarge %>" alt="<%= name %>'s image" />
      <div class="details-body">
        <div class="name"><h3><%= name %></h3></div>
        <div class="bio"><%= bio %></div>
        <% if (skills.length) { %>
        <div class="skills">
          <h3>Skills</h3>
          <ul>
            <% _.each(skills, function(skill) { %>
              <li><%= skill %></li>
            <% }); %>
          </ul>
        </div>
        <% } %>
        <div>
        <h3>Contact</h3>
          <div class="contact twitter">twitter: <a href="<%= twitter %>">@<%= twitter.match(/[^\/]*$/)[0] %></a></div>
          <% if (homepage) { %>
            <div class="contact homepage">homepage: <a href="http://<%= homepage %>"><%= homepage %></a></div>
          <% } %>
          <div class="contact email">email: <a href="mailto:<%= email %>"><%= email %></a></div>
          <% if (phone) { %>
            <div class="contact phone">phone: <%= phone %></div>
          <% } %>
        </div>
      </div>
    </script>
    
	<script type="text/html" class="slider-template">
      <div class="slider-inner"></div>
    </script>
		
	<!-- JS
	================================================== -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
	<script>window.jQuery || document.write("<script src='media/scripts/lib/jquery.min.js'>\x3C/script>")</script>
	<script src="media/scripts/lib/underscore.js"></script>
	<script src="media/scripts/lib/backbone.js"></script>
	<script src="media/scripts/people.js"></script>
	<script src="media/scripts/app.js"></script>
	
<!-- End Document
================================================== -->
</body>
</html>
